# DataSource configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/rst_test

# General JPA properties
spring.jpa.show-sql=true

# Hibernate Specific properties
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.hibernate.ddl-auto=create